header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007d8f;
    outline: none;
}


.container-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-nav-bar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.lista-nav-bar li a{
    text-decoration: none;
    color: var(--cor--preto);
}